@{
    ViewData["NonSixOs"] = true;
    var tenPhong = " - "; 
    Layout = null;
}

<link rel="stylesheet" href="~/dist/css/bootstrap.min.css" />
<link href="/dist/css/demo.min.css?1684106062" rel="stylesheet" />
<link href="/dist/css/Custom.css" rel="stylesheet" />
<link href="/dist/css/tabler.min.css?1684106062" rel="stylesheet" />
<link href="/dist/css/tabler-payments.min.css?1684106062" rel="stylesheet" />
<link href="/dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet" />
<link rel="stylesheet" href="~/dist/css/CSS0302/CSS0302LoadThuTuKhu.css" />


<div class="card p-1">
    <!-- HEADER -->
    <div class="header">
        <img src="~/dist/img/Logo-BVUB.jpg" alt="Logo Bệnh viện" class="logo">
        <div class="header-text">
            <div class="hospital-name">@ViewBag.DoanhNghiep.TenCSKCB?.ToString().ToUpper()</div>
            <div class="room-name" id="roomName" style="text-transform: uppercase !important;">
                @(tenPhong?.ToString().ToUpper(new System.Globalization.CultureInfo("vi-VN")) ?? "")
            </div>

        </div>
        <div class="settings-icon"
             data-bs-toggle="modal"
             data-bs-target="#settingsModal">
            ⚙
        </div>        
        <button id="btnFullscreen">⛶</button>
    </div>

    <div class="room-container" id="roomContainer">
    </div>

    <div class="ticker-wrapper">
        <div class="ticker-title">QUA LƯỢT</div>
        <div class="ticker">
            <div class="ticker-content" id="quaLuotList">
            </div>
        </div>
    </div>

    <div class="footer">
        © Đơn vị phối hợp thực hiện: Công Ty Phần Mềm Vũ Phong | Hotline: 0901 878 896 | Email: sixossoft@gmail.com
    </div>
</div>


<div class="modal fade" id="settingsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn khu khám cần hiển thị</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label">Phòng khám:</label>
                        <input class="tom-select-test" type="text" name="name" hidden style="display:none;" />
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button class="btn btn-primary" id="saveRoomBtn">Lưu</button>
            </div>
        </div>
    </div>
</div> 



<script src="@Url.Content("~/dist/lib/Jquery/jquery.min.js")"></script>
<script src="@Url.Content("~/dist/lib/Jquery/jquery.inputmask.js")"></script>
<script src="@Url.Content("~/dist/lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
<script src="@Url.Content("~/dist/js/BienChung.js")"></script>
<script src="@Url.Content("~/dist/lib/tom-select/dist/js/tom-select.base.js")" ></script>

<script src="@Url.Content("~/dist/js/J0302/J0302LoadSoThuTuKhuJs.js")" asp-append-version="true" defer></script>